@import url('CSS/global.css');
@import url('CSS/variables/root.css');
@import url('CSS/layout/layout.css');
@import url('CSS/pages/main.css');
@import url('CSS/pages/profile.css');
@import url('CSS/pages/addres.css');
@import url('CSS/pages/shipping.css');
@import url('CSS/pages/finish.css');
@import url('CSS/pages/thankyou.css');
@import url('CSS/components/button.css');
@import url('CSS/components/input.css');

body {
background-image: url('assets/BG/vecteezy_abstract-background_268246.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}








