@import url('CSS/global.css');
@import url('CSS/variables/root.css');
@import url('CSS/layout/layout.css');
@import url('CSS/pages/main.css');
@import url('CSS/pages/preLogin.css');
@import url('CSS/pages/userDataLogin.css');
@import url('CSS/pages/userLocationLogin.css');
body {
background-image: url('assets/BG/vecteezy_abstract-background_268246.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}




