
.container{
    
    background: rgba(0, 0, 0, 0.5); /* BG black transparent */
    backdrop-filter: blur(10px);
    height: 80%;
    width: 80%;
   border-radius: 1rem;
   transition: box-shadow 0.3s ease-in-out;
}
div.container:hover{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
header h1{
    color:var(--fontText-color);
    font-size: x-large;
    padding: 1.8rem;
}